@charset "utf-8";

/* outras versões */

@media print {
  *{
    font-family: 'Courier New', Courier, monospace;
  }
  h1{
    text-shadow: none;
    color: black;
  }
  main{
    background-color: rgb(201, 201, 201);
    border: 2px solid black;
    box-shadow: none;
  }
  img#tablet { display: none; }
  img#print { display: block; }
  img#pc { display: none; }
  img#tv { display: none; }
  img#phone { display: none; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  /* tablet */
  body {
    background: black url('../images/back-tablet.jpg') center center/ cover;
  }

  img#tablet {
    display: block;
  }

  img#phone {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background: black url('../images/back-pc.jpg') center center/ cover;
  }

  img#pc {
    display: block;
  }

  img#tablet {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background: black url('../images/back-tv.jpg') center center/ cover;
  }

  img#tv {
    display: block;
  }

  img#pc {
    display: none;
  }
}